  <header>
    <h1>Task manager</h1>
    <button (click)="toggleStatus(true)">Agregar tarea</button> <!-- Este boton invoca al servicio para hacer una nueva tarea -->
  </header>
  <div *ngIf="status" class="form-container">
     <form (ngSubmit)="onSubmit($event)">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" [(ngModel)]="formModel.titulo" name="titulo" #titulo="ngModel" required>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" [(ngModel)]="formModel.descripcion" name="descripcion" required></textarea>

        <label for="prioridad">Prioridad:</label>
        <input type="number" id="prioridad" [(ngModel)]="formModel.prioridad" name="prioridad" required>

        <label for="estado">Estado:</label>
        <input type="text" id="estado" [(ngModel)]="formModel.estado" name="estado" #estado="ngModel" required>

        <label for="favorito">Favorito:</label>
        <input type="checkbox" id="favorito" [(ngModel)]="formModel.favorito" name="favorito">

        <button class="i-submit" [disabled]="titulo.invalid || estado.invalid"  type="submit">Enviar</button>
    </form>
  

    <button (click)="toggleStatus(false)">x</button>
  </div>
  <main>
    <!-- cada vez que se renderiza la app deberia hacer la consulta de si hay tareas -->
    <app-tarea-container *ngFor="let tarea of tasks" [data]="tarea"></app-tarea-container>

  </main>
