.container{
    background-color: #f2fee7;
    padding: 3rem 3rem;
    border-radius: 1rem;
    border: 1px solid #9ff066;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 120rem;
}
.acciones{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
button img{
    height: 1.5rem;
    width: 1.5rem;
}